<body>
  <div class="gallery">
    <div
      class="gallery-image"
      style="background-image: url(assets/images/image1.avif)"
    ></div>
    <div
      class="gallery-image"
      style="background-image: url(assets/images/image2.avif)"
    ></div>
    <div
      class="gallery-image"
      style="background-image: url(assets/images/image3.jpg)"
    ></div>
    <div
      class="gallery-image"
      style="background-image: url(assets/images/image4.webp)"
    ></div>
    <div
      class="gallery-image"
      style="background-image: url(assets/images/image5.webp)"
    ></div>
  </div>
</body>
